.sidebarStock {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.sidebarStock:hover {
  background-color: #ebebeb;
}

.sidebarStock_info > h2 {
  font-size: 16px;
  margin: 0px;
}

.sidebarStock_info > p {
  margin: 0px;
}

.sidebarStock_info {
  margin-left: 15px;
}

.add-new-stock-title {
  margin: 0px 0px 0px 10px;
}

a {
  text-decoration: none;
  color: black;
}
