.sidebar {
  display: flex;
  flex: 0.25;
  flex-direction: column;
}

.sidebar_search {
  display: flex;
  align-items: center;
  background-color: #572e2e;
  height: 39px;
  padding: 10px;
}

.sidebar_searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.sidebar_searchContainer > input {
  border: none;
  margin-left: 10px;
}
.sidebar_searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}

.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar_headerLeft {
  display: flex;
  font-size: 1.17em;
  align-items: center;
  justify-content: flex-start;
  min-width: 10vw;
}

.sidebar_headerLeft > h3 {
  margin-left: 10px;
}

.sidebar_headerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 10vw;
}

.sidebar_headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 20px !important;
}

.sidebar_stocks {
  flex: 1;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.sidebar_stocks::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
