.sidebarStock {
  display: flex;
  flex: 1;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
  flex-direction: row;
  align-items: center;
}

.sidebarStock:hover {
  background-color: #bebcbc;
}

.sidebarStock_link {
  display: flex;
  flex-grow: 1;
}

.sidebarStock_logo {
}

.sidebarStock_info {
  margin-left: 10px;
  flex: 1;
  max-width: auto;
}
.sidebarStock_info > h2 {
  font-size: 16px;
  margin: 0px 0px 0px 0px;
}

.sidebarStock_info > span {
  margin: 0px 0px 0px 0px;
  display: block;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-new-stock-title {
  margin: 0px 0px 0px 0px;
}

a {
  text-decoration: none;
  color: black;
}

.sidebarStock_delete {
  margin-left: auto;
}
