.stock_position {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.stock_position_stats {
  display: flex;
  flex-direction: column;
}

/* NEWS SECTION */
.stock_position_news {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: fit-content;
}

.stock_position_news_header {
  display: flex;
}

.stock_position_news_body {
  flex: 1;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.stock_position_news_body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.stock_new {
  position: relative;
  overflow-wrap: break-word;
  margin-bottom: 30px;
}

.stock_yahoo:hover {
  font-weight: bold;
  cursor: pointer;
}

.stock_new:hover {
  font-weight: bold;
  cursor: pointer;
}

.stock_new_date {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: x-small;
}

.stock_new_title {
}

.stock_position_footer {
  display: flex;
  align-items: center;
}
