.stock_chat {
  flex: 0.6;
  display: flex;
  flex-direction: column;
}

.stock_chat_body {
  flex: 1;
  background-image: url("https://image.freepik.com/free-vector/business-candle-stick-graph-chart-stock-market_41981-1435.jpg");
  background-repeat: repeat;
  background-position: center;
  background-color: silver;
  background-size: contain;
  padding: 30px;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.stock_chat_body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.stock_chat_message {
  position: relative;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  width: fit-content;
  overflow-wrap: anywhere;
}

.stock_chat_timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.stock_chat_receiver {
  margin-left: auto;
  background-color: gainsboro;
}

.stock_chat_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  border: 1px solid lightgray;
}

.stock_chat_footer > form {
  flex: 1;
  display: flex;
  align-items: center;
}

.stock_chat_footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  margin: 0 10px 0px 10px;
}

.stock_chat_footer > form > button {
  /* display: none; */
  border: none;
}

.stock_chat_name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}
