.stock_chat {
  flex: 0.75;
  display: flex;
  flex-direction: column;
}

.stock_chat_body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}

.stock_chat_message {
  position: relative;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  width: fit-content;
  overflow-wrap: break-word;
}

.stock_chat_timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.stock_chat_receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.stock_chat_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  border: 1px solid lightgray;
}

.stock_chat_footer > form {
  flex: 1;
  display: flex;
}

.stock_chat_footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  margin: 0 10px 0px 10px;
}

.stock_chat_footer > form > button {
  display: none;
}

.stock_chat_name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}
