.stock {
  flex: 0.85;
  display: flex;
  flex-direction: column;
}

.stock-room-name {
  margin: 0px;
}

.stock-room-last-seen {
  margin: 0;
}

.stock_header {
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.stock_headerInfo {
  flex: 1;
  padding-left: 20px;
}

.stock_headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.stock_headerInfo > p {
  color: gray;
}

.stock_headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.stock_body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.stock_name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}
